<html>

<head>
    <title>Register</title>
</head>

<body>
    <h1>Sign up</h1>
    <form>
        <div>
            <label for="username">Enter Username</label>
            <input type="text" name="username" id="username" placeholder="username">
        </div>
        <div>
            <label for="password">Enter password</label>
            <input type="password" name="password" id="password" placeholder="password">
        </div>
        <button>Register</button>
    </form>
</body>

</html>